$size-spacing-small: 2rem !default;
$size-spacing-medium: 6rem !default;
$size-spacing-large: 12rem !default;

$size-card-small: 8rem !default;
$size-card-medium: 16rem !default;
$size-card-large: 32rem !default;

$size-border: 4px;