/**
 * Any element that acts as user input has a base style applied.
 * This is useful when dealing with input, select, button, textarea elements
 * which have their own default styles within browsers.
 */
%user-input {
	@extend %d-focus-hover;

	font: inherit;
	outline: none;

	padding: 0.5rem;
	border: none;
	border-radius: $size-border;
}