$col_body: #555 !default;
$col_heading: #888 !default;
$col_anchor: desaturate(lighten(blue, 0.2), 0.5) !default;
$col_select: blue !default;

$break_small: 480px !default;
$break_medium: 640px !default;
$break_large: 960px !default;

// Notes:
// golden ratio: 0.81 1, 1.62, 2.62, 4.24, 6.85, 11.09