$col_body: #555 !default;
$col_heading: #888 !default;
$col_grey: #aaa !default;
$col_light: #eee !default;
$col_anchor: desaturate(lighten(blue, 0.1), 0.1) !default;
$col_select: blue !default;
$col_brand: $col_grey !default;

$col_grid_major: rgba(#000, 0.1) !default;
$col_grid_minor: rgba(#000, 0.05) !default;
$size_grid_major: 6rem !default;
$size_grid_minor: 1.5rem !default;
$offset_grid: 0 0 !default;

$break_small: 480px !default;
$break_medium: 640px !default;
$break_large: 960px !default;

$size_gutter: 6rem !default;

// Notes:
// golden ratio: 0.81 1, 1.62, 2.62, 4.24, 6.85, 11.09
