/**
 * This is the baseline stylesheet for all variations of flair.
 * Import this file first before any components.
 */

$flair-relative-path: "./.." !default;
$flair-font-server-prefix: "./../font" !default;
$flair-font-client-prefix: "./bower_components/flair/font" !default;

@import $flair-relative-path + "/../normalize-scss/_normalize.scss";
@import $flair-font-server-prefix + "/ubuntu.font.scss";

@import "_variables.scss";

@if !variable-exists($flair-variation) {
	$flair-variation: flair-full;
}

@if $flair-variation == flair-full {
	$flair-variation: base form logo nav footer;
}

@each $flair-variation-item in $flair-variation {
	@import "Component/" + $flair-variation-item + ".scss";
	@import "Component/" + $flair-variation-item + "-enhanced.scss";
}