body>header #logo {
	&::before {
		content: "";
		display: block;
		float: left;

		width: 2em;
		height: 2em;
		background: #aaa;
	}

	margin: 0;
	font-size: 2.5rem;
	font-weight: normal;

	a {
		display: block;
		padding: 0.25em;
		padding-left: 2.5em;
		height: 2em;
		line-height: 2em;
		text-decoration: none;
	}
}