@import "_variables.scss";

body > header > nav {
	position: absolute;
	top: 0.5rem;
	right: 0rem;

	ul {
		border-radius: 0;

		li {
			width: auto;
			font-size: 0.9em;
			height: 5rem;

			&:nth-of-type(odd), &:nth-of-type(even) {
				border-right: none;
			}

			&:last-of-type {
				border-right: none;
			}

			&.selected {
				a {
					background: transparent;
					border-bottom: 4px solid $col_anchor;
				}
			}

			a {
				box-sizing: border-box;
				height: 100%;
				background: transparent;
				color: $col_anchor;
				line-height: 5rem;

				@media(min-width:640px) {
					padding: 0 1em;
				}

				&:hover {
					color: darken($col_anchor, 0.2);
					text-decoration: underline;
				}

				&:active {
					background: #ddd;
				}
			}
		}
	}
}