@use "../variable/break";
@use "../object/button";
@use "../object/button-primary";

%p-form-actions {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: stretch;
	justify-content: var(--theme-actions-align, flex-end);
	gap: var(--theme-actions-gap, var(--theme-space-3));
	margin-block-start: var(--theme-actions-margin, var(--theme-space-2));
	> :where(button, input[type="submit"], input[type="reset"]) {
		@extend %o-button;
	}
	> .primary {
		@extend %o-button-primary;
	}
	> .action-start {
		margin-inline-end: 0;
	}
	@media (min-width: break.$compact) {
		flex-direction: row;
		align-items: center;
		> .action-start { margin-inline-end: auto; }
	}
}
