@use "../object/form-field";
@use "../object/choice-field";
@use "../object/fieldset";
@use "field-row";
@use "form-actions";

%p-form-fields {
	display: grid;
	gap: var(--theme-form-gap, var(--theme-space-4));
	min-inline-size: 0;
	margin: 0;
	color: var(--theme-color-text);
	font: var(--theme-font-weight) var(--theme-font-size)/var(--theme-line-height)
		var(--theme-font-body);
	> :where(.field, label:not(.choice)) {
		@extend %o-form-field;
	}
	> .choice {
		@extend %o-choice-field;
	}
	> fieldset {
		@extend %o-fieldset;
	}
	> .field-row {
		@extend %p-field-row;
	}
	> .actions {
		@extend %p-form-actions;
	}
}
