%p-list {
	list-style: none;
	margin: 0;
	padding: 0;
	> li {
		margin: 0;
		padding-block: var(--theme-list-padding, var(--theme-space-4));
	}
	> li + li {
		border-block-start: var(--theme-border-width) solid var(--theme-color-border);
	}
}
