@use "../object/nav-link";

%p-navigation {
	> ul {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		gap: var(--flair-nav-gap, var(--flair-space-2));
		list-style: none;
		margin: 0;
		padding: 0;
		> li {
			min-inline-size: 0;
			margin: 0;
		}
		> li > a {
			@extend %o-nav-link;
		}
	}
	@media (min-width: 45rem) { > ul { flex-direction: row; } }
}
