@use "cluster";

%p-page-footer {
	@extend %p-cluster;
	justify-content: space-between;
	padding-block: var(--flair-header-padding-block, var(--flair-space-4));
	border-block-start: var(--flair-border-width) solid var(--flair-color-border);
	font-size: var(--flair-small-size, 0.875rem);
}
