@use "navigation";
%p-pagination {
	@extend %p-navigation;
	> :where(ul, menu) { flex-direction: row; }
	> :where(ul, menu) > li > span {
		display: block;
		padding: var(--theme-nav-padding-block, var(--theme-space-3))
			var(--theme-nav-padding-inline, var(--theme-space-4));
		color: var(--theme-color-muted);
	}
}
