@use "navigation";
%p-pagination {
	@extend %p-navigation;
	> ul { flex-direction: row; }
	> ul > li > span {
		display: block;
		padding: var(--flair-nav-padding-block, var(--flair-space-3))
			var(--flair-nav-padding-inline, var(--flair-space-4));
		color: var(--flair-color-muted);
	}
}
