@use "navigation";

%p-side-navigation {
	@extend %p-navigation;
	> ul {
		flex-direction: column;
		margin-block-start: var(--flair-side-nav-margin-block-start, 0);
		> li > a {
			display: flex;
			align-items: flex-start;
			column-gap: var(--flair-side-nav-icon-gap, 0);
			margin: var(--flair-side-nav-link-margin, 0);
			&::before {
				content: var(--flair-side-nav-icon-content, none);
				display: block;
				flex-shrink: 0;
				inline-size: var(--flair-side-nav-icon-size, 0);
				aspect-ratio: 1;
				opacity: var(--flair-side-nav-icon-opacity, 1);
				background-size: 100%;
			}
			line-height: var(--flair-side-nav-line-height, inherit);
			background: var(--flair-side-nav-background, transparent);
			&:focus-visible:not(:hover) {
				background: var(--flair-side-nav-focus-background,
					var(--flair-nav-hover-background, var(--flair-color-surface-disabled)));
			}
		}
		> li:hover > a {
			background: var(--flair-side-nav-hover-background, var(--flair-nav-hover-background, var(--flair-color-surface-disabled)));
		}
		> li > a[aria-current]:not([aria-current="false"]):not([aria-current=""]) {
			&:hover {
				background: var(--flair-side-nav-current-hover-background, var(--flair-side-nav-hover-background,
					var(--flair-nav-current-hover-background, var(--flair-nav-current-background,
						var(--flair-selected-background, var(--flair-color-surface-disabled))))));
			}
			&:focus-visible:not(:hover) {
				background: var(--flair-side-nav-current-focus-background,
					var(--flair-nav-current-hover-background, var(--flair-nav-current-background,
						var(--flair-selected-background, var(--flair-color-surface-disabled)))));
			}
			box-shadow: var(--flair-side-nav-current-shadow,
				var(--flair-nav-current-shadow, inset 0 -3px var(--flair-color-accent)));
		}
	}
	@media (min-width: 45rem) { > ul { flex-direction: column; } }
}
