%d-focus-hover {
	outline: none;

	&:hover {
		box-shadow: 0 0 0 $size-border $palette-hover-outline;
	}

	&:focus {
		box-shadow: 0 0 0 $size-border $palette-focus-outline;
	}

	&.primary {
		&:hover {
			box-shadow: 0 0 0 $size-border $palette-hover-outline-primary;
		}

		&:focus {
			box-shadow: 0 0 0 $size-border $palette-focus-outline-primary;
		}
	}
}