@use "../mixin/defaults";
@use "../mixin/color-scheme";

@mixin base {
	@include color-scheme.color-scheme;
	@include defaults.defaults;
	--theme-font-heading: "Ubuntu Condensed", sans-serif;
	--theme-font-mono: "Ubuntu Mono", monospace;
	--theme-heading-weight: 400;
}
