@media(min-width: $break_small) {

body>header #logo {
	position: relative;
	font-size: 2rem;
	z-index: 100;
	text-align: left;

	a {
		position: relative;
		z-index: 100;

		&::before {
			position: fixed;
			z-index: 100;
			top: 0;
			left: 0;
			margin: 1rem;
		}

		span {
			padding-left: 1rem;
		}
	}
}

}