body>header #logo {
	display: block;
	margin: 0 auto;
	font-size: 1.5rem;
	text-align: center;
	font-weight: normal;

	a {
		position: relative;
		display: inline-block;
		margin: 1rem;
		margin-right: 0;
		padding-left: 2em;
		height: 2em;
		line-height: 2em;
		text-decoration: none;
		color: black;
		text-align: left;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;

			width: 2em;
			height: 2em;
			background: #aaa;
		}

		span {
			padding-left: 0.75rem;
		}
	}
}