@media(min-width: $break_small) {

body > header > nav {
	position: absolute;
	top: 0;
	right: 0;
	$height: 6rem;

	ul {
		border-radius: 0;

		li {
			width: auto;
			font-size: 0.9em;
			height: $height;
			font-family: "Ubuntu Condensed";
			font-weight: normal;

			&:nth-of-type(odd), &:nth-of-type(even) {
				border-right: none;
			}

			&:last-of-type {
				border-right: none;
			}

			&.selected {
				a {
					background: $col_brand;
				}
			}

			a {
				box-sizing: border-box;
				height: 100%;
				background: transparent;
				color: $col_body;
				line-height: $height;
				padding: 0 0.5em;

				&:hover {
					color: darken($col_anchor, 0.2);
					text-decoration: underline;
				}

				&:active {
					background: transparent;
				}
			}
		}
	}
}

}