%o-avatar {
	display: inline-grid;
	place-items: center;
	flex: none;
	inline-size: var(--theme-avatar-size, 3rem);
	block-size: var(--theme-avatar-size, 3rem);
	border-radius: var(--theme-avatar-radius, 50%);
	background: var(--theme-selected-background, var(--theme-color-surface-disabled));
	color: var(--theme-selected-text, var(--theme-color-text));
	font-family: var(--theme-font-body);
	font-weight: var(--theme-heading-weight, 500);
	object-fit: cover;
}
