@use "button";

%o-button-primary {
	@extend %o-button;
	&:not(:disabled) {
		background: var(--theme-button-primary-background, var(--theme-color-accent));
		color: var(--theme-button-primary-text, var(--theme-color-on-accent));
		border-color: var(
			--theme-button-primary-border,
			var(--theme-button-primary-background, var(--theme-color-accent))
		);
	}
	&:hover:not(:disabled) {
		border-color: var(
			--theme-button-primary-border,
			var(--theme-button-primary-background, var(--theme-color-accent))
		);
		background: var(--theme-button-primary-background-hover, var(--theme-color-text));
		text-decoration: var(
			--theme-button-primary-decoration-hover,
			var(--theme-button-decoration-hover, var(--theme-button-decoration, none))
		);
	}
	&:active:not(:disabled) {
		background: var(
			--theme-button-primary-background-active,
			var(--theme-button-primary-background-hover, var(--theme-color-text))
		);
	}
}
