@use "button";

%o-button-danger {
	@extend %o-button;
	&:not(:disabled) {
		color: var(--flair-color-danger);
		border-color: var(--flair-color-danger);
	}
	&:hover:not(:disabled) {
		background: var(--flair-danger-background-hover, var(--flair-color-danger));
		color: var(--flair-danger-text-hover, var(--flair-color-surface));
	}
	&:active:not(:disabled) {
		background: var(--flair-danger-background-hover, var(--flair-color-danger));
		color: var(--flair-danger-text-hover, var(--flair-color-surface));
	}
}
