@use "../mixin/controls";
@use "form-field";
@use "choice-field";

%o-fieldset {
	display: grid;
	gap: var(--flair-form-gap, var(--flair-space-4));
	min-inline-size: 0;
	margin: 0;
	padding: var(--flair-fieldset-padding, var(--flair-space-4));
	border: var(--flair-border-width) solid var(--flair-color-border);
	border-radius: var(--flair-radius);
	font: var(--flair-font-weight) var(--flair-font-size)/var(--flair-line-height)
		var(--flair-font-body);
	color: var(--flair-color-text);
	> legend {
		padding-inline: var(--flair-space-2);
		font-weight: var(--flair-label-weight);
	}
	> :where(.field, label:not(.choice)) {
		@extend %o-form-field;
	}
	> .choice {
		@extend %o-choice-field;
	}
}
