@use "../decoration/focus-ring";

%o-range {
	inline-size: 100%;
	min-inline-size: 0;
	min-block-size: var(--theme-control-min-height);
	margin: 0;
	accent-color: var(--theme-color-accent);
	&:focus-visible {
		@extend %d-focus-ring;
	}
	&:disabled {
		cursor: not-allowed;
	}
}
